<div class="inventory-filters spellbook-filters">
    <div class="form-group spellcasting-ability">
        <label><h3>Spellcasting Ability</h3></label>
        <select name="data.attributes.spellcasting" data-type="String">
            {{#select data.attributes.spellcasting}}
            <option value="">None</option>
            {{#each data.abilities as |abl a|}}
            <option value="{{a}}">{{abl.label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <ul class="filter-list flexrow" data-filter="spellbook">
        <li class="filter-title">{{localize "DND5E.FilterTitle"}}</li>
        <li class="filter-item" data-filter="action">{{localize "DND5E.FilterAction"}}</li>
        <li class="filter-item" data-filter="bonus">{{localize "DND5E.FilterBonus"}}</li>
        <li class="filter-item" data-filter="reaction">{{localize "DND5E.FilterReaction"}}</li>
        <li class="filter-item" data-filter="concentration">{{localize "DND5E.FilterConcentration"}}</li>
        <li class="filter-item" data-filter="ritual">{{localize "DND5E.FilterRitual"}}</li>
        <li class="filter-item" data-filter="prepared">{{localize "DND5E.FilterPrepared"}}{{#if preparedSpells}} ({{preparedSpells}}){{/if}}</li>
    </ul>
</div>

<ol class="inventory-list">
{{#each spellbook as |section|}}
    <li class="item flexrow inventory-header spellbook-header">
        <div class="item-name flexrow">
            <h3>{{section.label}}</h3>
        </div>

        <div class="spell-slots">
            {{#if section.usesSlots}}
            <input type="text" name="data.spells.spell{{section.level}}.value" value="{{section.uses}}" placeholder="0"/>
            <span class="sep"> / </span>
            <input type="text" name="data.spells.spell{{section.level}}.max" value="{{section.slots}}" placeholder="0"/>
            {{ else }}
            <span class="spell-slots">{{{section.uses}}}</span>
            <span class="sep"> / </span>
            <span class="spell-max">{{{section.slots}}}</span>
            {{/if}}
        </div>

        <div class="spell-school">{{localize "DND5E.SpellSchool"}}</div>
        <div class="spell-action">{{localize "DND5E.SpellUsage"}}</div>

        <div class="item-controls">
            {{#if section.canCreate}}
            <a class="item-control item-create" title="Create Spell" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                <i class="fas fa-plus"></i> {{localize "DND5E.Add"}}
            </a>
            {{/if}}
        </div>
    </li>

    <ol class="item-list">
    {{#each section.spells as |item i|}}
        <li class="item flexrow" data-item-id="{{item.id}}">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <h4>{{item.name}}</h4>
                {{#if item.data.uses.value }}
                <div class="item-detail spell-uses">Uses {{item.data.uses.value}} / {{item.data.uses.max}}</div>
                {{/if}}
            </div>

            <div class="spell-comps">{{labels.components}}</div>
            <div class="spell-school">{{labels.school}}</div>
            <div class="spell-action">{{labels.activation}}</div>

            {{#if ../../owner}}
            <div class="item-controls">
                {{#if section.canPrepare}}
                <a class="item-control toggle-prepared {{#if item.data.preparation.prepared}}prepared{{/if}}" title="Toggle Prepared"><i class="fas fa-sun"></i></a>
                {{/if}}
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
    {{/each}}
    </ol>
{{else}}
    {{#if owner}}
    {{#if filters.spellbook.size}}
    <li class="item flexrow"><p class="notes">{{localize "DND5E.FilterNoSpells"}}</p></li>
    {{else}}
    <li class="item flexrow inventory-header spellbook-header spellbook-empty">
        <div class="item-controls">
            <a class="item-control item-create" title="Create Spell" data-type="spell"
               data-level="{{lvl}}"><i class="fas fa-plus"></i> {{localize "DND5E.SpellAdd"}}</a>
        </div>
    {{/if}}
    {{/if}}
    </li>
{{/each}}
</ol>